<header>
    <a href="#" class="logo">Landa.pk</a>
    <ul class="navlist">
        <li><a href="#shop">Shop</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="/reviews">Check Reviews</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="#footer">About Us</a></li>
    </ul>
    <div class="nav-right">
        <a href="#"><i class="ri-search-eye-line"></i></a>
        <a href="/cart/details" id="cart-icon"><i class="ri-shopping-cart-fill"></i></a>
        <a href="/login"><i class="ri-user-3-line"></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>
