<footer>
    <!--footer section-->
    <section class="footer" id="footer">
        <div class="footer-box">
            <h3>Company</h3>
            <a href="#">About Us</a>
            <a href="#">Our Features</a>
            <a href="#">How It Works</a>
            <a href="#">Join Our Team</a>
        </div>
        
        <div class="footer-box">
            <h3>FAQ(s)</h3>
            <a href="#">Account FAQs</a>
            <a href="#">Product Features FAQs</a>
            <a href="#">How It Works FAQs</a>
            <a href="#">Career FAQs</a>
        </div>
        
        <div class="footer-box">
            <h3>Resources</h3>
            <a href="#">Check out our YouTube Playlist</a>
            <a href="#">Explore our Features</a>
            <a href="#">See our Success Stories</a>
            <a href="#">Join our Team</a>
        </div>

        <div class="social">
            <h3>Social</h3>
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-twitter-x-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
        </div>
    </section>

    <!--copyright-->
    <div class="copyright">
        <div class="final-text">
            <p>Copyright <a href="#"><i class="ri-copyright-fill"></i></a> 2024. All rights reserved</p>
            <!-- <a href="#"><i class="ri-copyright-line"></i></a> -->
        </div>

        <div class="final-img">
            <img src="images/cards.png">
        </div>
    </div>
</footer>
