<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An E-Commerce-Website</title>
    <link rel="stylesheet" href="/css/landingPage.css">
    <!--The link for box-icons-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!--The link for remix-icons-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!--The link for google-fonts used-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script defer src="script.js"></script>    
</head>

<body>
    <!--Header Section-->
    <header>
        <a href="#" class="logo">Landa.pk</a>

        <ul class="navlist">
            <li><a href="#">Shop</a></li>
            <li><a href="#">On Sale</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Brands</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="nav-right">
            <a href="#"><i class="ri-search-eye-line"></i></a>
            <a href="#"><i class="ri-shopping-cart-fill"></i></a>
            <a href="#"><i class="ri-user-3-line"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <!---home page-->
    <section class="home">
        <div class="home-text">
            <h1>New Styles <br>Elevate Your <br> Look</h1>
            <p>Discover the latest trends and must-haves for your wardrobe. Upgrade your style today!</p>            
            <a href="#" class="btn">
                Shop Now
                <i class="ri-arrow-right-fill"></i>
            </a>
        </div>
    </section>

    <!--Brands Information-->
    <div class="brands">
        <div class="main-brands">
            <div class="brands-c">
                <img src="/images/Versace.png">
            </div>

            <div class="brands-c">
                <img src="/images/Gucci.png">
            </div>

            <div class="brands-c">
                <img src="/images/Zara.png">
            </div>

            <div class="brands-c">
                <img src="/images/Prada.png">
            </div>

            <div class="brands-c">
                <img src="/images/Calvin.png">
            </div>
        </div>
    </div>

    <!--detail of all products-->
    <section class="n-product">
        <div class="center-text">
            <h2>Available Products</h2>
        </div>

        <div class="n-content">
            <div class="row">
                <div class="row-img">
                    <img src="/images/Striped T-shirt.png">
                </div>
                <h3>Striped Edge Tee: Uniquely Styled</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Jeans.png">
                </div>
                <h3>True Blue Denim: Always in Style</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Red Check Shirt.png">
                </div>
                <h3>Ravishing in Red Checks: Stand Out</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Black Tee.png">
                </div>
                <h3>Classic Black Tee: Timeless Style</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Gray Checkshirt.png">
                </div>
                <h3>Checkmate in Gray: Casual Chic</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/shorts.png">
                </div>
                <h3>Denim Delight: Stay Cool in Style</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Orange Tee.png">
                </div>
                <h3>Orange Crush: Brighten Your Day</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row-img">
                    <img src="/images/Black jeans.png">
                </div>
                <h3>Jet Black Denim: Your Wardrobe Essential</h3>
                <div class="stars">
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-fill"></i></a>
                    <a href="#"><i class="ri-star-half-line"></i></a>
                    <a href="#">4.5/5</a>
                </div>

                <div class="row-in">
                    <div class="row-left">
                        <a href="#">
                            Add to Cart
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </div>

                    <div class="row-right">
                        <h6>Rs. 1,200.00</h6>
                    </div>
                </div>
            </div>

            <div class="n-btn">
                <a href="#" class="btn2">View All</a>
            </div>
        </div>
    </section>    