<!-- user_login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/user_login.css">
</head>
<body>
    <h1>Admin Login</h1>
    <ul>
        <li><a href="/admin/login">Admin Login</a></li>
        <li><a href="/admin/register">Admin Registration</a></li>
    </ul>
    <a href="/" class="back-to-home"><i class="ri-arrow-left-line"></i> Back to Home Page</a>
</body>
</html>
