* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    background-color: blue;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

.nav ul li a {
    color: inherit;
    text-decoration: none;
}

.date {
    flex: 1;
    text-align: center;
}

#logo{
    height: 150px;
    width: 150px;
}

#image-name {
    text-align: center;
    margin-top: 10px;
}

.images {
    display: flex;;
    margin-top: 20px;
}

.images img {
    height: 150px;
    width: 150px;
}

